{
    "env": {
        "browser": true,
        "node": true,
        "commonjs": true
    },
    "globals": {
        "angular": true
    },
    "extends": ["eslint:recommended", "plugin:prettier/recommended"],
    "plugins": ["prettier"],
    "rules": {
        "for-direction": "error",
        "prettier/prettier": "error"
    }
}
